{% extends "base_half_bg.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block top_content %}<h1 class="text-light text-center">Profile</h1>{% endblock %} 
{% block content %}   
    <div class="container-md auth-box pt-5 pb-5" >            
        <div class="card pt-3 pb-3 px-5 rounded">
            <div class="text-center"> 
                <h2 class="mt-2 text-profile-header">{{ profile.name }}</h2>
                <h6 class="theme-color lead"><a href=mailto:{{ profile.email }}>{{ profile.email }}</a></h6>        
            </div>
            <div class="justify-content-center"> 
                <div class="d-flex justify-content-start rounded-3 p-2 mt-2 mb-2 mx-auto"
                    style="background-color: #efefef; max-width: 360px;">
                    <div class="px-3">
                        <p class="small text-muted mb-1">Saved Attractions</p>
                        <p class="mb-0">{{ profile.saved_attractions.count }}</p>
                    </div>
                    <div class="vr"></div>
                    <div class="px-3">
                        <p class="small text-muted mb-1">Outings Created</p>
                        <p class="mb-0">{{ profile.created_outings.count }}</p>
                    </div>
                    <div class="vr"></div>
                    <div class="ps-3">
                        <p class="small text-muted mb-1">Invites</p>
                        <p class="mb-0">{{ profile.invites.count }}</p>
                    </div>
                </div> 
            </div> 

            <hr class="line">	
            <h4 class="mt-2 text-profile-header">About Me</h4>
            <small class="mt-2 mb-2">{{ profile.about }}</small>  
            
            {% if user.profile.id == profile.id %}
            <div>
                <a class="btn btn-primary mt-3 mb-3" href="{% url "edit_profile" %}" role="button">Edit Profile</a>
            </div>
            {% endif %}

            <hr class="line">
            
            <h4 class="mt-2 text-profile-header">My Saved Attractions</h4>    
        </div>		
    </div>  
{% endblock %}