{% extends "base_bg_white_container.html" %}
{% block title %}Activation Complete{% endblock %}
{% load crispy_forms_tags %}
{% block header %}Activation Complete{% endblock %}
{% block content %}
<p>Your account is now activated! You can now log in and use Singapore Attractions. Enjoy touring Singapore!</p>
<form method="get" action="{% url "login" %}">
    {{ form|crispy }}
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Log In Again</button>
    </div>
</form>
{% endblock %}