{% extends "rest_framework/base.html" %}
{% load static %}
{% block title %}{% if name %}{{ name }} – {% endif %} Singapore Attractions REST API{% endblock %}

{% block branding %}
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"> 
<a href="/" class="navbar-brand">
Singapore Attractions REST API
</a>
{% endblock %}

{% block style %}
{{ block.super }}
<style>
div .toplogo {
    margin-top: auto;
    margin-bottom: auto;
    height : 10%;
    width : 10%;
}

div .navbar {
    border-top-color: #B70A13;
    background-color: #B70A13 !important;
}

.bg-dark {
    background-color: #B70A13 !important;
}

div .navbar-brand {
    color: #fff !important;
    margin-right:20px;
}

div .navbar-brand:hover {
    color: #ddd !important;
    margin-right:20px;
}
</style>
{% endblock %}


