html {
    height: -webkit-fill-available; /* We have to fix html height */
}

body {
    background: #f0f7ee;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.toast:not(.show) {
    display: block;
}

.toplogo {
    margin-top: auto;
    margin-bottom: auto;
    height : 10%;
    width : 10%;
}

.navbar-brand {
    font-size: 1em;
}

.bg-dark {
    background-color: #B70A13 !important;
}

.navbar .nav-link {
    color: #fff !important;
    margin-right:20px;
}

.navbar .nav-link:hover {
    color: #ddd !important;
    margin-right:20px;
}

.h1 .maintext {
    color: #ffffff;
}

.text-profile-header {
    color: #222222 !important;
}

.page-background {   
    background-image: url('images/singapore.jpg'); 
      
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-background {   
    background-image: url('images/singapore.jpg');   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #B70A13 !important;
}

.attraction-box {
    max-width: 900px;
}

.auth-box {
    max-width: 750px;
}




.search-box {
    max-width: 750px;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

