<!doctype html>
<html lang="en">
{% load static %}
<head>
    {% include "_bootstrap_head.html" %}
    <title>{% block title %}{% if title %}{{ title }}{% else %}Visit Singapore Attractions{% endif %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">  
</head>
<body>
{% include "_navbar.html" %}
<div class="page">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);  ">
        <div class="container-fluid pt-5" style="min-height: 100vh; " >
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>



{% include "_bootstrap_scripts.html" %}
{% block scripts %}
{% endblock %}
</body>
</html>