{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block base_content %}
<div class="page-background">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);  ">
        <div class="container-fluid pt-5" style="min-height: 100vh; " >
            <div class = "row justify-content-center m-2">
                <div class = "container auth-box bg-white p-5 m-5 rounded">
                    <div class="row justify-content-center pb-2">
                        <div class="col">
                            <h3 class="justify-content-center">{% block header %}{% endblock %}</h3>
                            {% block content %}      
                            {% endblock %}
                        </div>
                    </div>                   
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}