<!doctype html>
<html lang="en">
{% load static %}
<head>
    {% include "_head.html" %}
    <title>{% block title %}{% if title %}{{ title }}{% else %}Visit Singapore Attractions{% endif %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">  
</head>
<body>
    {% include "_navbar.html" %}
    <div class="flex-wrapper">        
        {% block base_content %}
        {% endblock %}
        {% include "_scripts.html" %}
        {% block scripts %}
        {% endblock %}
        {% include "_footer.html" %}
    </div>
</body>
</html>