{% extends "base_bg.html" %}
{% load static %}
{% block title %}Visit Singapore Attractions{% endblock %}
{% block content %}     
<div class = "text-center text-align-middle">
    {% if request.user.is_authenticated %}
        <h1 class="text-light">Welcome back, {{ request.user.name }}!</h1><br><br>
    {% else %}
        <h1 class="text-light">Welcome to Singapore Attractions</h1><br><br>
    {% endif %}
        <h5 class="text-light">
        Search for any Singapore Attraction!<br><br>
        Organise outings to your favourite attractions and invite your friends to join you!
    </h5>
    <br><br>
    {% if request.user.is_anonymous %}
        <a class="btn btn-outline-light btn-lg" href="{% url "login" %}">Log In</a>
        <a class="btn btn-outline-light btn-lg" href="{% url "django_registration_register" %}">Sign Up Now</a>
    {% else %}
        <a class="btn btn-outline-light btn-lg" href="">View My Outings</a>
        <a class="btn btn-outline-light btn-lg" href="{% url "search_attractions" %}">Search Attractions</a>
        <a class="btn btn-outline-light btn-lg" href="">View Saved Attractions</a>
    {% endif %}
</div>      
{% endblock %}