{% extends "base.html" %}
{% load static %}
{% block title %}Visit Singapore Attractions{% endblock %}
{% block content %}     

<div class = "text-center text-align-middle">
    <br><br>
    <h1 class="text-light">Welcome to Singapore Attractions</h1><br><br>
    <h5 class="text-light">
        Search for any Singapore Attraction!<br><br>
        Organise outings to your favourite attractions and invite your friends to join you!
    </h5>
    <br><br>
    {% if request.user.is_anonymous %}
        <a class="btn btn-outline-light btn-lg" href="{% url "login" %}">Log In</a>
        <a class="btn btn-outline-light btn-lg" href="{% url "django_registration_register" %}">Sign Up Now</a>
    {% else %}
        <a class="btn btn-outline-light btn-lg" href="">View My Outings</a>
        <a class="btn btn-outline-light btn-lg" href="">Search Attraction</a>
        <a class="btn btn-outline-light btn-lg" href="">View Saved Attractions</a>
    {% endif %}
   
</div>      

{% endblock %}