{% extends "base.html" %}
{% block content %}
    
    <div class=" bg-image shadow-2-strong mainpage">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);  ">
            <div class="container-fluid pt-5 text-center text-align-middle" style="min-height: 100vh; text-align: middle;" >
                
                <br><br>
                <h1 class="text-light">Welcome to Singapore Attractions</h1><br><br>
                <h5 class="text-light">Schedule a visit to any of Singapore's attractions with your friends!</h5><br><br>

                {% if request.user.is_anonymous %}
                <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" role="button">Log In to Schedule Visits</a>
                <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" role="button">Sign Up Now</a>
                {% else %}
                <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" role="button">Log In to Schedule Visits</a>
                <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" role="button">Sign Up Now</a>
                {% endif %}
       
            </div>
        </div>
    </div>

{% endblock %}