{% extends "base_half_bg.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block top_content %}<h1 class="text-light text-center">Attraction</h1>{% endblock %} 
{% block content %}   
    <div class="container-md auth-box pt-5 pb-5" >            
        <div class="card pt-3 pb-3 px-5 rounded">
            <div class="text-center"> 
                <h2 class="mt-2 text-profile-header">{{ attraction.name }}</h2>
                <h6 class="theme-color lead"><a href=mailto:{{ profile.email }}>{{ profile.email }}</a></h6>        
            </div>

            <hr class="line">	
            <h4 class="mt-2 text-profile-header">About Me</h4>
            <small class="mt-2 mb-2">{{ profile.about }}</small>  
            
            {% if user.profile.id == profile.id %}
            <div>
                <a class="btn btn-primary mt-3 mb-3" href="{% url "edit_profile" %}" role="button">Edit Profile</a>
            </div>
            {% endif %}

            <hr class="line">
            
            <h4 class="mt-2 text-profile-header">My Saved Attractions</h4>   
            <iframe src="https://maps.google.com/maps?q=1.25879,103.818662&hl=es;z=14&amp;output=embed"></iframe> 
        </div>		
    </div>  
{% endblock %}