{% extends "base_half_bg.html" %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block top_content %}<h1 class="text-light text-center">Attraction</h1>{% endblock %} 
{% block content %}   
    <div class="container-md attraction-box pt-5 pb-5"  >            
        <div class="pt-3 pb-3 px-5 rounded" style="background-color: #ffffff;">
            {% if messages %}
                {% for message in messages %}
                <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
                    <div class="toast-header">
                    <strong class="me-auto">{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            <div class="mb-3"> 
                <h2 class="mt-2 text-profile-header">{{ attraction.name }}</h2>
                <h6 class="theme-color lead"><a href={{ attraction.website_url }}>{{ attraction.website_url }}</a></h6>        
            </div>           
     
            {% for tag in attraction.tags.all %}
            <span class="badge text-muted m-2" style="background-color: #efefef;">{{ tag }}</span>  
            {% endfor %}

            <form action="{% url 'attraction_detail' attraction.uuid %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary mt-2" type="submit" name="favourites" value="{{button_value}}" />
            </form>

            <hr class="line">
            <h4 class="mt-2 text-profile-header">Info</h4>
            {% if attraction.admission_info %}            
            <p>{{ attraction.admission_info }}</p> 
            {% endif %}

            {% if attraction.nearest_station %}    
            <p>Nearest MRT Station: {{ attraction.nearest_station }}</p> 
            {% endif %}

            {% if attraction.map_url %} 
            <hr class="line">
            <h4 class="mt-2 mb-2 text-profile-header">Map</h4>
            <iframe src="{{attraction.map_url|safe}}" height="300" width="100%" class="mb-2 mt-2"></iframe> 
            {% endif %}

            {% if attraction.summary %} 
            <hr class="line">
            <h4 class="mt-2 text-profile-header">Summary</h4>
            <p>{{ attraction.summary | safe }}</p>   
            {% endif %}
            
            {% if attraction.full_description %}       
            <hr class="line">
            <h4 class="mt-2 mb-2 text-profile-header">Full Description</h4>
            <p>{{ attraction.full_description | safe }}</p>  
            {% endif %}
            
        </div>		
    </div>  
{% endblock %}